<div class="posts-container">
    {{#foreach posts}}
    <article class="post-card">
        <a href="{{url}}" target="_blank">
            <!--文章封面-->
            <div class="post-cover">
                <span class="cover-image cover-transition" {{#if feature_image}}
                    style="background-image: url({{feature_image}})" {{/if}}></span>
            </div>
            <div class="post-info">
                <div class="item-content">
                    <h3 class="post-title"><span>{{title}}</span></h3>
                    <p class="post-summary">
                        <span>{{excerpt characters="100"}}...</span>
                    </p>
                </div>
                <div class="item-footer">
                    <div class="post-date">
                        <div class="post-time">
                            <i class="iconfont icon-time"></i><span>{{date format="YYYY/MM/DD"}}</span>
                        </div>
                        <div>
                            <span>{{reading_time}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{#if tags}}
        <div class="post-tags">
            {{!-- {{#if primary_tag}}
                <a class="tag" href="{{url}}" target="_blank">{{name}}<span>{{primary_tag.name}}</span></a>
            {{/if}} --}}
            {{#foreach tags limit=4}}
            <a class="tag" href="{{url}}" target="_blank">{{name}}</a>
            {{/foreach}}
        </div>
        {{/if}}
    </article>
    {{/foreach}}
</div>