<div class="author">
	{{#primary_author}}
	<div class="post-author">
		<figure class="author-image">
			<a href="{{url}}" style="background-image: url({{img_url profile_image}})"></a>
		</figure>
		<section class="author-info">
			<h4>
				<a href="{{url}}">{{name}}</a>
			</h4>
			<p>{{bio}}</p>
			<ul class="post-author-social-icon">
				{{> social-icon}}
			</ul>
		</section>
	</div>
	{{/primary_author}}
</div>