<div class="author">
	<div class="post-author">
		{{#primary_author}}
		<div class="author-info">
			<div class="author-image">
				<a href="{{url}}" style="background-image: url({{img_url profile_image}})"></a>
			</div>
			<div class="author-name">
				<a href="{{url}}">{{name}}</a>

			</div>
			<div class="post-author-social-icon">
				<ul>{{> social-icon}}</ul>
			</div>
		</div>
		<p class="author-desc">{{bio}}</p>
		{{/primary_author}}
		<div class="post-copyright">
			<p>本文采用 <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0 国际 许可协议</a> 进行许可，可自由转载、引用，需署名作者并注明文章出处</p>
			<p>
				<span>发表于 <time>{{date format="YYYY年MM月DD日"}} |</time></span>
				<span id="{{url absolute=true}}" class="leancloud-visitors" data-flag-title="{{title}}">访问量 <span class="leancloud-visitors-count">999</span> |</span>
				<span>本文地址: <a href="{{url absolute=true}}">{{url absolute=true}}</a></span>
			</p>
		</div>
	</div>
</div>