<div class="posts-container">
    {{#foreach posts}}
    <article class="post">
        <div class="post-card" href="{{url}}" target="_blank">
            <!--文章封面-->
            <div class="post-cover">
                <a class="cover-image cover-transition" {{#if feature_image}}style="background-image: url({{feature_image}})" {{/if}}></a>
                {{#if tags}}
                <div class="cover-bottom">
                    <div class="post-tags">
                        {{#foreach tags limit=4}}
                        <a href="{{url}}" target="_blank">{{name}}</a>
                        {{/foreach}}
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="post-info">
                <div class="item-content">
                    <h3 class="post-title"><a href="{{url}}" target="_blank">{{title}}</a></h3>
                    <p class="post-summary">
                        {{excerpt characters="120"}}...
                    </p>
                </div>
                <div class="item-footer">
                    <div class="post-date">
                        <div class="post-time">
                            <i class="iconfont icon-time"></i><span>{{date format="YYYY/MM/DD"}}</span>
                        </div>
                        <div>
                            <span>{{reading_time}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {{/foreach}}
</div>