{{!< default}}
{{!-- 归档页面 --}}
{{#post}}
<header style="background-image: url({{@blog.cover_image}})" class="header-small animated fadeIn">
    <div class="header-top-nav">
        {{navigation}}
    </div>
    <div class="header-middle">
        <div class="header-middle-content animated fadeInUp">
            <h2 class="header-title">{{title}}</h2>
            <h4 class="header-description">{{excerpt}}</h4>
        </div>
    </div>
    <div class="header-post-num">
        <span>
            {{#get "posts" as | posts pages|}}共 {{pages.total}} 篇文章{{/get}}
        </span>
    </div>
</header>
<div class="site-content">
    <div class="article-wrapper">
        <div class="article-left">
            <div class="article-content">
                <div class="article-list">
                    {{#get 'posts' limit='all' order='published_at desc'}}
                    <ul>
                        {{#foreach posts}}
                        <li><span>{{date format="YYYY-MM-DD"}}</span> <a href='{{ url }}'>{{ title }}</a></li>
                        {{/foreach}}
                    </ul>
                    {{/get}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/post}}

{{!-- 引入版权信息 --}}
{{> copyright}}