{{!< default}}
{{!-- 文章详情页 --}}
{{#post}}
<header {{#if feature_image}}style="background-image: url({{feature_image}})" {{/if}} id="header-big"
    class="animated fadeIn">
	<div class="header-top-nav">
		{{navigation}}
	</div>
	<div class="header-middle">
		<div class="header-middle-content animated fadeInUp">
			<h2 class="header-title">{{title}}</h2>
			<div class="header-post-info">
				<i class="iconfont icon-time"></i><time>{{date format="YYYY年MM月DD日"}}</time>
				<span class="dotted">•</span>
				<span>{{reading_time}}</span>
			</div>
			<div class="header-post-tags">{{tags separator=""}}</div>
		</div>
	</div>
	<a class="indicator">
		<i class="iconfont icon-arrow-down"></i>
	</a>
</header>
<div class="site-content">
	<div class="post-wrapper">
		{{> post-content}}
		<nav class="navbar-side hidden">
			<div class="toc-wrapper">
				<a class="toc-btn">
					<span class="iconfont icon-toc"></span>
				</a>
				<div id="toc"></div>
			</div>
		</nav>
	</div>
	<div class="post-footer">
		{{> post-related}}
		{{> post-author}}
		{{> post-prev-next}}
	</div>
	{{!-- 引入评论 --}}
	{{> comments}}
	<a id="go-to-top" href="#"><span class="iconfont icon-top"></span></a>
</div>
{{/post}}

{{!-- 引入版权信息 --}}
{{> copyright}}

{{!-- 大图展示图层 --}}
<div id="show-image-layer" class="is-hidden">
	<img src="" alt="">
</div>