{{!< default}}
{{!-- 标签页 --}}
<header style="background-image: url({{#if feature_image}}{{feature_image}}{{else}}{{@blog.cover_image}}{{/if}})"
    class="header-small animated fadeIn">
    <div class="header-top-nav">
        {{navigation}}
    </div>
    <div class="header-middle">
        <div class="header-middle-content animated fadeInUp">
            <h2 class="header-title">{{tag.name}}</h2>
            <h4 class="header-description">{{tag.description}}</h4>
        </div>
    </div>
    <div class="header-post-num">
        <i class="iconfont icon-tag"></i><span>共 {{pagination.total}} 篇文章</span>
    </div>
</header>

<div class="site-content">
    {{> post-card}}

    {{#if pagination}}
    {{pagination}}
    {{/if}}
</div>

{{!-- 引入版权信息 --}}
{{> copyright}}